body {
  background: #fff;
}

/* Logo */
#login h1 a,
.login h1 a {
  background-image: url('../media/lec_logo.png');
  background-size: contain;
}

#login form,
.login form {
  background-color: #f7f7f7;
  border-color: #ddd;
  box-shadow: 1px 12px 30px rgba(0,0,0,.05);
}

#login form label,
.login form label {
  color: #101010;
}

/* Bouton */
.wp-core-ui .button-primary {
  background: #b32600;
  border-color: #ff3600;
  border-radius: 0;
}

.wp-core-ui .button-primary:hover {
  background: #df2f00;
  border-color: #ff3600;
}

/* Liens */
.login #backtoblog a,
.login #nav a,
.privacy-policy-page-link a {
  color: #333;
}

.login #backtoblog a:hover,
.login #nav a:hover,
.privacy-policy-page-link a:hover {
  color: #f03300;
}
